
.auth {
    width: 480px;
    max-width: 90%;
    text-align: center;
}

.auth-actions {
    text-align: center;
    margin-top: calc(var(--offset-base-size) * 20);
}

@media (max-width: 767px) {
    .auth-actions {
        margin-top: calc(var(--offset-base-size) * 10);
    }
}
