:root {
  /* max width`s for media*/
  --media-desktop: 1240px;
  --media-tablet: 768px;
  --media-mobile: 767px;
}

.app {
  flex: 1;
  display: flex;
  flex-flow: column;
  margin: auto;
  width: 100%;
  max-width: 1240px;
}

.app-content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.app-loading {
  margin: calc(var(--offset-base-size) * 10) auto;
  color: var(--text-inactive-color);
  font-size: 12px;
  text-align: center;
  width: 350px;
}

.app-error {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 350px;
  margin: calc(var(--offset-base-size) * 10) auto;
  color: var(--colors-interface-error);
}


@media (max-width: 1240px) {
  .app-content {
    flex-flow: column;
    max-width: 600px;
    margin: auto;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .app-content {
    flex-flow: column;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 100%;
  }
}
