:root {
  /* max width`s for media*/
  --media-desktop: 1240px;
  --media-tablet: 768px;
  --media-mobile: 767px;
}

.app {
  flex: 1;
  display: flex;
  flex-flow: column;
  margin: auto;
  width: 100%;
  max-width: 1240px;
}

