
.feed-header {
    position: relative;
    display: inline;
}

.feed-status {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: -20px;
    background: #666;
    cursor: pointer;
}

.feed-status.feed-status_idle,
.feed-status.feed-status_closed {
    background: #666;
}

.feed-status.feed-status_loading {
    background: #ccc;
}

.feed-status.feed-status_success {
    background: green;
}

.feed-status.feed-status_error {
    background: red;
}
