

.profile {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: flex-start
}

.profile-left {
    width: 320px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.profile-text {
    opacity: 0.4;
}

.profile-data {
    width: 100%;
    max-width: 844px;
    max-height: 85vh;
    overflow: auto;
    scrollbar-width: thin;
}

.profile-data--empty {
    color: var(--text-inactive-color);
    font-size: 12px;
}

@media (max-width: 1024px) {
    .profile {
        border-top: 1px solid var(--text-primary-color);
        margin-top: calc(var(--offset-base-size) * 4);
        flex-flow: column;
    }

    .profile-data,
    .profile-left {
        width: 100%;
        padding: 0;
        max-height: 100%;
    }

    .profile-left {
        margin-bottom: calc(var(--offset-base-size) * 6);
        padding: 0;
    }
}
