
.constructor {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 1240px) {
    .constructor {
        flex-flow: column;
        max-width: 600px;
        margin: auto;
        padding-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .constructor {
        flex-flow: column;
        padding-left: 8px;
        padding-right: 8px;
        max-width: 100%;
    }
}
